.password-field {
  position: relative;

  &__validation {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(186, 199, 220, 0.8);
    z-index: 1;
    background: var(--v-tertiary-base);
    left: 107%;
    bottom: 50%;
    transform: translateY(50%);
    position: absolute;
    width: 100%;

    &::after {
      content: '';
      background-color: var(--v-tertiary-base);
      position: absolute;
      width: 12px;
      height: 12px;
      bottom: calc(50% + 7px);
      left: 0;
      transform: translate(-50%, calc(100%)) rotate(135deg);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }

    &-text {
      font-size: $font-xsm;
    }
  }
}
.v-application.v-application--is-rtl {
  .password-field {
    &__validation {
      left: -107%;

      &::after {
        right: -10px;
        transform: translate(-50%, calc(100%)) rotate(-45deg);
      }
    }
  }
}
