<payroll-modal
  :open-event="openEvent"
  :modal-close-callback="closeDialogCallback"
  :close-event="closeEvent"
  :modal-open-callback="modalOpenCallback.bind(this)"
  @close="closeDialogCallback"
>
  <template v-slot:toolbar-title>
    <div class="forgot-password d-flex flex-column justify-center align-center">
      <img class="my-4" width="280px" src="@/assets/img/auth/password.svg" />
      <div class="auth__title font-weight-light my-6">{{ $t('AUTH.RESET_PASSWORD') }}</div>
    </div>
  </template>

  <template v-slot:content>
    <payroll-error-alert :errors="errors"></payroll-error-alert>
    <div v-if="!authSuccessOperation" class="forgot-password__fields d-flex align-center flex-column justify-center">
      <div class="auth__text text-center mb-4">{{ $t('AUTH.PLEASE_ENTER_YOUR_ID_NUMBER') }}</div>
      <ValidationObserver ref="observerRef">
        <ValidationProvider name="AUTH.ID_NUMBER" :rules="{ required: true, numeric: true, max: 9, min: 7}" v-slot="{ errors }">
          <payroll-text-field
            data-cy="forgot-password-field"
            class="forgot-password__field"
            v-model="idNumber"
            autofocus
            placeholder="AUTH.ID_NUMBER"
            :label="idNumber? 'AUTH.ID_NUMBER' : ''"
            :hideDetails="false"
            :error-messages="errors"
            @keyup.native.enter="send"
          >
          </payroll-text-field>
        </ValidationProvider>
      </ValidationObserver>

      <payroll-recaptcha-v2
        v-if="isRecaptchaV2Shown"
        class="mb-1"
        :hasError="hasRecaptchaV2Error"
        @verifyRecaptchaV2="verifyRecaptchaV2($event)"
        @expiredRecaptchaV2="expiredRecaptchaV2()"
      >
      </payroll-recaptcha-v2>
    </div>
    <div v-else class="d-flex flex-column justify-center">
      <div class="auth__text text-center mb-8 text-pre-line">{{ $t('AUTH.EXPLANATION_HAS_BEEN_SENT') }}</div>
    </div>
  </template>

  <template v-slot:actions="{ closeModal }">
    <slot name="actions">
      <div class="forgot-password__actions d-flex flex-column justify-center align-center mb-4">
        <payroll-button
          v-if="!authSuccessOperation"
          data-cy="send-forgot-password-mail-button"
          class="login-btn my-5"
          secondary
          width="200"
          text="GENERAL.SEND"
          :disabled="loading"
          :loading="loading"
          @click="send"
        ></payroll-button>
        <payroll-button
          v-else
          data-cy="close-forgot-password-modal-button"
          class="py-8"
          isText
          color="secondary"
          text="GENERAL.CLOSE"
          :classArr="['underlined-text']"
          @click="close"
        >
        </payroll-button>
      </div>
    </slot>
  </template>
</payroll-modal>
