<div class="reset-password my-auto">
  <v-card class="reset-password__card mx-auto d-flex align-center flex-column" max-width="70%">
    <div v-if="!authSuccessOperation" class="d-flex flex-column justify-center align-center">
      <img class="mt-8" width="280px" src="@/assets/img/auth/password.svg" :alt="$t('GENERAL.PASSWORD')" />
      <div class="auth__title text-center font-weight-light pt-4">{{ $t('AUTH.RESET_PASSWORD') }}</div>
      <div class="auth__text text-center mb-4">{{ $t('AUTH.PLEASE_ENTER_FIELDS') }}</div>
      <payroll-error-alert class="reset-password__error" :errors="errorsMessages"></payroll-error-alert>

      <div class="reset-password__field-container">
        <ValidationObserver ref="observerRef">
          <div>
            <ValidationProvider name="AUTH.ID_NUMBER" :rules="{required: true,numeric: true, max: 9, min: 7 }" v-slot="{ errors }">
              <payroll-text-field
                data-cy="id-number-field"
                class="mt-2"
                v-model="idNumber"
                autofocus
                placeholder="AUTH.ID_NUMBER"
                :label="idNumber? 'AUTH.ID_NUMBER' : ''"
                :hideDetails="false"
                :error-messages="errors"
              >
              </payroll-text-field>
            </ValidationProvider>

            <ValidationProvider name="AUTH.NEW_PASSWORD" :rules="{ required: true }" v-slot="{ errors }">
              <password-field
                data-cy="new-password-field"
                class="mt-5"
                ref="passwordFieldRef"
                v-model="newPassword"
                label="AUTH.NEW_PASSWORD"
                :error-messages="errors"
                @change="onChange($event)"
                @onError="onError($event)"
              ></password-field>
            </ValidationProvider>

            <ValidationProvider name="AUTH.VERIFY_NEW_PASSWORD" :rules="{ required: true, passwords_mismatch: [newPassword] }" v-slot="{ errors }">
              <payroll-text-field
                data-cy="new-password-confirmation-field"
                class="mt-5"
                v-model="confirmedPassword"
                placeholder="AUTH.VERIFY_NEW_PASSWORD"
                type="password"
                :label="confirmedPassword? 'AUTH.VERIFY_NEW_PASSWORD' : ''"
                :hideDetails="false"
                :error-messages="errors"
                @keyup.native.enter="submit"
              >
              </payroll-text-field>
            </ValidationProvider>
          </div>
        </ValidationObserver>
      </div>

      <v-card-actions>
        <div class="d-flex justify-center flex-column align-center mb-2">
          <payroll-recaptcha-v2
            v-if="isRecaptchaV2Shown"
            class="mb-1"
            :hasError="hasRecaptchaV2Error"
            @verifyRecaptchaV2="verifyRecaptchaV2($event)"
            @expiredRecaptchaV2="expiredRecaptchaV2()"
          ></payroll-recaptcha-v2>
          <payroll-button
            data-cy="reset-password-button"
            class="mb-6 mt-2"
            secondary
            width="200"
            text="AUTH.RESET_PASSWORD"
            :disabled="loading"
            :loading="loading"
            @click="submit"
          ></payroll-button>
        </div>
      </v-card-actions>
    </div>
    <div v-else class="reset-password__success d-flex flex-column justify-center align-center">
      <img class="mt-4" width="200px" src="@/assets/img/success.svg" />

      <div class="auth__title text-center font-weight-light pt-4">{{ $t('AUTH.YOU_HAVE_NEW_PASSWORD') }}</div>

      <v-card-actions>
        <payroll-button class="py-8" isText color="secondary" text="AUTH.CONTINUE_TO_HOME_PAGE" :classArr="['underlined-text']" @click="goToHome">
        </payroll-button>
      </v-card-actions>
    </div>
  </v-card>
</div>
