.password-expired {
  &__card {
    min-height: 630px;
    max-height: 95%;
    max-width: 70%;
  }

  &__field-container {
    min-width: 330px;
  }

  &__success {
    margin: 130px 0;
  }

  &__error {
    min-width: 450px;
  }
}
